<!DOCTYPE html>
<html>
<head>
    <title>Polls</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    {% if latest_question_list %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Question</th>
                <th>Date Published</th>
                <th>Published Recently?</th>
            </tr>
        </thead>
        <tbody>
            {% for question in latest_question_list %}
            <tr>
                <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
                <td>{{question.pub_date}}</td>
                <td>{{question.was_published_recently}}</td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    </table>
</body>
</html>

<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
-->